:root {
	--container-width: 1200px;
	--container-padding: 25px;

	--font-main: 'Manrope', sans-serif;
	--font-accent: 'Jura', serif;

	--white: #fff;
	--black: #000;
	--accent: #30b46f;
	--darkgrey: #222;
	--gray: #777;
	--blue: #6d75fe;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}